h1{

	align-items: center;
	color: #31F612;
	font-weight: bold;
	text-shadow: 8px 5px 8px blue;
	margin: none;
	padding:0px 100px 100px ;
	text-align: center;
}
body{

	background-image: url(sky14.jpg);
  background-color: #fffff1;
  height: 500px
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
}
.earth{

    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    margin: auto;
	width:370px;
	height: 368px;
	background-image: url("himanshu.jpeg");
    border-radius: 50% ;
    background-size: cover;
    box-shadow: 17px 20px 43px 2px #000 inset,0 0 20px 2px #000 ;
    animation: rotate 15s linear alternate infinite;
}
@keyframes rotate{
	100%{background-position: 100%;}
}
.earth:hover{
	width:530px;
	height: 530px;
	transition:1.8s;

	

}.earth11{

    position:relative;
    top:100;
    bottom:100;
    left:100;
    right: 100;
    margin: auto;
	width:370px;
	height: 368px;
	background-image: url("earth1.jpeg");
    border-radius: 50% ;
    background-size: cover;
    box-shadow: 17px 20px 43px 2px #000 inset,0 0 20px 2px #000 ;
    animation: rotate 15s linear alternate infinite;
}
@keyframes rotate{
	100%{background-position: 100%}
}